mat-card {
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 16px;
    text-align: center;
  }
  
  mat-icon {
    font-size: 48px;
    margin-bottom: 16px;
  }
  
  h3 {
    font-size: 24px;
    margin-bottom: 8px;
  }
  
  p {
    font-size: 18px;
    color: #777777;
  }