<form [formGroup]="filterform">
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <mat-form-field>
      <input formControlName="name" matInput placeholder="Filter by Name" />
    </mat-form-field>
    <mat-form-field>
      <mat-select formControlName="activityId" placeholder="Activities">
        <mat-option>ALL</mat-option>

        <mat-option
          *ngFor="let activity of activities$ | async"
          [value]="activity.id"
        >
          {{ activity.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select
        formControlName="subscribtion"
        placeholder="Subscription Type"
      >
        <mat-option>ALL</mat-option>

        <mat-option
          *ngFor="let subscription of subscriptions$ | async"
          [value]="subscription.id"
        >
          {{ subscription.designation }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select formControlName="status" placeholder="Status">
        <mat-option>ALL</mat-option>

        <mat-option *ngFor="let status of statuses" [value]="status.value">
          {{ status.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>
