<div class="body">
  <div class="login-container">
    <div class="login-content">
      <mat-toolbar class="login-toolbar" color="primary"
        >Club Management</mat-toolbar
      >
      <mat-card>
        <form [formGroup]="loginForm">
          <mat-form-field>
            <mat-icon matPrefix>person_outline</mat-icon>
            <input
              autofocus
              type="text"
              matInput
              placeholder="Username"
              formControlName="username"
            />
          </mat-form-field>

          <mat-form-field>
            <mat-icon matPrefix>lock_outline</mat-icon>
            <input
              formControlName="password"
              type="password"
              autocomplete="false"
              matInput
              placeholder="Password"
            />
          </mat-form-field>

          <button
            type="submit"
            mat-raised-button
            color="primary"
            (click)="login()"
            [disabled]="loginForm.invalid"
          >
            LOGIN
          </button>
        </form>

        <span (click)="register()">Register</span>
      </mat-card>
    </div>
  </div>
</div>
