<h1 mat-dialog-title>{{ data ? "Update" : "Add" }} Member</h1>
<div mat-dialog-content>
  <form [formGroup]="memberForm">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Phone</mat-label>
      <input matInput formControlName="phone" />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="onDismiss()">Close</button>
  <button mat-button mat-dialog-close cdkFocusInitial (click)="onConfirm()">
    Ok
  </button>
</div>
